<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label for="fileUpload">File Uploads</label>
        <input
          type="file"
          id="fileUpload"
          (change)="fileuploads($event)"
          multiple
          class="form-control"
          accept="application/pdf"
        />
      </div>
    </div>
  </div>

  <!-- Tabel untuk menampilkan file -->
  <h4>Uploaded Files</h4>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Select</th>
        <th>No</th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Upload Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of pdfFiles | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
        <td>
          <input type="checkbox" 
          [(ngModel)]="file.selected"
          [disabled]="file.status === 'sent'"  />
        </td>
        <td>{{ (p - 1) * 5 + i + 1 }}</td>
        <td>{{ file.name }}</td>
        <td>{{ file.type }}</td>
        <td>{{ file.size }}</td>
        <td>{{ file.uploadDate }}</td>
        <td>
          <span *ngIf="file.status === 'unintegrated'">Unintegrated</span>
          <span *ngIf="file.status === 'loading'">
            <i class="fa fa-spinner fa-spin"></i> Loading
          </span>
          <span *ngIf="file.status === 'sent'">
            <i class="fa fa-check-circle text-success"></i> Sent
          </span>
          <td>
            <button class="btn btn-info me-2" (click)="previewFile(file.url, file.name)">
              Preview
            </button>
            <button
              class="btn btn-primary me-2"
              *ngIf="file.status === 'sent'"
              (click)="viewResult(file)"
            >
              <img
                src="../assets/json-icon.png"
                alt="JSON Icon"
                width="20"
                height="20"
                class="me-1"
              />
              View Result
          </button>
          <button
          class="btn btn-danger"
          *ngIf="file.status !== 'sent'"
          (click)="deleteFile(file)"
          >
            Delete
</button>

          </td>          
      </tr>
    </tbody>
  </table>

  <!-- Pagination controls -->
  <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>

  <!-- Tombol untuk memulai proses -->
  <div class="form-group mt-3">
    <button class="btn btn-success" (click)="confirmSubmission()">Proceed</button>
  </div>

  <!--<div class="modal-body">
    <pre *ngIf="resultJson">{{ resultJson | json }}</pre>
    <button class="btn btn-secondary mt-3" (click)="copyToClipboard(resultJson)">
      Copy to Clipboard
    </button>
  </div> -->
  

  <!-- Modal untuk Preview PDF -->
<div class="modal fade" id="pdfPreviewModal" tabindex="-1" role="dialog" aria-labelledby="pdfPreviewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pdfPreviewModalLabel">
          Preview PDF: {{ selectedFileName || 'Untitled' }}
        </h5>
        <button
          type="button"
          class="btn-close ms-auto"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Menampilkan PDF di dalam modal -->
        <object *ngIf="selectedPdfUrl" [data]="selectedPdfUrl" type="application/pdf" width="100%" height="500px">
          <iframe [src]="selectedPdfUrl" width="100%" height="500px"></iframe>
        </object>
      </div>
    </div>
  </div>
</div>

<!-- Modal Notifikasi -->
<div
  class="modal fade"
  id="notificationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="notificationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notificationModalLabel">Notification</h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeNotification()"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ notificationMessage }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="closeNotification()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>



  <!-- Modal Konfirmasi -->
  <div
    class="modal fade"
    id="confirmationModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="confirmationModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Submission Confirmation</h5>
          <button
            type="button"
            class="btn-close ms-auto"
            data-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Are you sure to proceed with these files?</p>
          <ul>
            <li *ngFor="let file of getSelectedFiles()">
              {{ file.name }}
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-success"
            (click)="confirmAction(true)"
          >
            Yes, Proceed
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="confirmAction(false)"
          >
            No, Return
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal untuk hasil JSON -->
<div
class="modal fade"
id="resultModal"
tabindex="-1"
role="dialog"
aria-labelledby="resultModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="resultModalLabel">JSON File Result</h5>
      <button
        type="button"
        class="btn-close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="closeResultModal()"
      ></button>
    </div>
    <div class="modal-body">
      <pre *ngIf="resultJson">{{ resultJson | json }}</pre>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="closeResultModal()"
      >
        Close
      </button>
    </div>
  </div>
</div>
</div>
</div>
